
django
django-allauth==0.52.0
django-countries
django-custom-user
django-extensions==3.2.1
django-widget-tweaks==1.4.12
numpy==1.24.2
pandas==1.5.3
plotly==5.13.0
psycopg2-binary==2.9.5
python-dotenv==0.21.1
yfinance==0.2.11
google-api-python-client
oauth2client
jsonpickle
geoip2

