/* .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .chat-area {
    flex-grow: 1;
    height: 350px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .input-area {
    display: flex;
    flex-direction: column;
  }
  
  .message {
    display: flex;
    margin-bottom: 5px;
  }
  
  .message-sender {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .message-text {
    word-wrap: break-word;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }
   */




  /* button[type="submit"] {
    width: 100%;
    padding: 5px;
    background-color: rgb(182, 25, 25);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(140, 20, 20);
  } */
  




/* 
  .chatbot-btn {
    background-image: url("../img/chatbot.png");
    background-size: cover;
    position: fixed;
    bottom: 50px;
    right: 20px;
    
    width: 130px;
    height: 60px;
    border: none;
  }
  .modal-dialog {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 600px;
  }
  body.modal-open {
    overflow: initial !important;
  } */


  
  body {
    font-family: "Roboto", "Open Sans", sans-serif;
    
  }
  
 
  
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
   
  }
  
  .chat-area {
    flex-grow: 1;
    height: 290px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
    
  }
  
  .input-area {
    display: flex;
    flex-direction: column;
    background-color: #242526;
    color: #FFFFFF;
  }
  
  .message {
    display: flex;
    margin-bottom: 5px;
    background-color: #242526;
    color: #FFFFFF;
  }
  
  .message-sender {
    font-weight: bold;
    margin-right: 5px;
    
  }
  
  .message-text {
    word-wrap: break-word;
    background-color: #242526;
    color: #FFFFFF;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #242526;
    color: #FFFFFF;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
    color: #ffffff;
    
  }
  
  .chatbot-btn {
    background-image: url("../img/chatbot.png");
    background-size: cover;
    position: fixed;
    bottom: 50px;
    right: 20px;
    
    width: 115px;
    height: 40px;
    border: none;
    
  }
  
  .modal-dialog {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 540px;
    
  }
  
  body.modal-open {
    overflow: initial !important;
  }
  
  .modal-content {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: #242526;
  }
  
  .send-btn {
    background-color: #c879c6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .send-btn:hover {
    background-color: #9995df;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .close-btn {
    background-color: #c879c6;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    padding: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .close-btn:hover {
    background-color: #9995df;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .modal-title {
    color: rgb(249, 244, 244) !important;
  }